[submodule "interop.p4app/example"]
	path = interop.p4app/example
	url = https://github.com/fno2010/maclearning.p4app
[submodule "interop.p4app/jensen"]
	path = interop.p4app/jensen
	url = https://github.com/fno2010/pwospf-p4
[submodule "interop.p4app/lukexuan"]
	path = interop.p4app/lukexuan
	url = https://github.com/LukeXuan/634-router.git
